<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="connectionstring" value="mongodb://localhost:27017/?readPreference=primary&amp;appname=MongoDB%20Compass&amp;ssl=false"/>
    <!--<add key="path" value="F:\GitHub\Lexique\wordlist"/>-->
    <add key="path" value="C:\PRJ\Personal\Lexique\WordList"/>
  </appSettings>
</configuration>
